.wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  width: 100%;
  background: inherit;
  height: 100vh;
  padding: 5vh 5vw;
}

ul {
  background: inherit;
  color: inherit;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 2vh 0;
}

a {
  color: inherit;
}